nnoremap <Home> _
inoremap <Home> <C-o>_

nnoremap U <C-r>

"EasyMotion
set easymotion
nnoremap <SPACE> <Nop>
let mapleader=" "
map <Leader> <Plug>(easymotion-prefix)

set laststatus=0

set matchpairs=(:),{:},[:],<:>,`:`,':',":"
