source ~/Documents/GitHub/Config-Files/Vim/remap.vim
source ~/Documents/GitHub/Config-Files/Vim/set.vim

set easymotion
map <Leader> <Plug>(easymotion-prefix)

set highlightedyank

"https://github.com/JetBrains/ideavim/blob/master/doc/ideajoin-examples.md
set ideajoin


